name: New Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - turplanlegger/__about__.py

jobs:
  create-release:
    name: Create and publish new GitHub Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Python 3.13
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"

      - name: Install Python packages
        run: pip install PyJWT cryptography requests

      - name: Authenticate with GitHub App
        id: auth
        env:
          APP_ID: ${{ secrets.APP_ID }}
          PRIVATE_KEY: ${{ secrets.TURPLANLEGGER_PRIVATE_KEY }}
          INSTALLATION_ID: ${{ secrets.INSTALLATION_ID }}
        run: python3 .github/workflows/authentication-script.py >> "$GITHUB_OUTPUT"

      - name: Get version
        id: get-version
        run: echo "NEW_VERSION=$(grep -v '^#' turplanlegger/__about__.py | cut -d'=' -f2 | xargs)" >> "$GITHUB_OUTPUT"

      - name: Create new tag and release
        env:
          GH_TOKEN: ${{ steps.auth.outputs.TOKEN  }}
          NEW_VERSION: ${{ steps.get-version.outputs.NEW_VERSION }}
        run: |
          gh release create "$NEW_VERSION" \
            --target "main" \
            --latest \
            --title "Release $NEW_VERSION" \
            --generate-notes

  build-and-push-docker-image:
    name: Build and publish Docker image to GitHub Packages
    runs-on: ubuntu-latest
    needs: create-release
    permissions:
      packages: write
      id-token: write
      contents: read
    env:
      REGISTRY: ghcr.io
    steps:

      - name: Checkout repository
        uses: actions/checkout@v8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Downcase repository name
        run: echo "repository=${GITHUB_REPOSITORY@L}" >> ${GITHUB_ENV}

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          context: git
          images: ${{ env.REGISTRY }}/${{ env.repository }}
          tags: |
            type=raw,value=latest
            type=pep440,pattern={{version}}
            type=sha,format=long

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Set up Kubernetes kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" | base64 --decode > ~/.kube/config
          chmod 600 ~/.kube/config
  
      - name: Check Kubernetes permissions
        run: |
          kubectl -n tp auth can-i patch deployments
          kubectl -n tp auth can-i list pods
  
      - name: Update Kubernetes Deployment
        run: |
          kubectl -n tp set image deployment/api-turplanlegger-api turplanlegger-api=${{ env.REGISTRY }}/${{ env.repository }}:sha-${{ github.sha }}
          kubectl -n tp rollout status deployment/api-turplanlegger-api
